body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

form {
  text-align: center;
}

input, button {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.product-list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card {
  width: 250px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.product-card img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.product-info {
  padding: 15px;
}

.product-info h2 {
  margin-top: 0;
}

.product-info p {
  margin-bottom: 0;
}

/* Estilos para el header */
header {
  background-color: #007bff;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Estilos para el footer */
footer {
  background-color: #007bff;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Estilo para el texto del footer */
footer p {
  margin: 0;
}

/* Estilo para el contenido del footer si es necesario */
/* footer .content {
  padding: 10px;
} */

